/HerenciaPersona/nbproject/private/
/HerenciaPersona/build/
/ClaseAbstracta/nbproject/private/
/ClaseAbstracta/build/
/Ej1Animal/nbproject/private/
/Ej1Animal/build/
/Ej1Electrodomestico/nbproject/private/
/Ej1Electrodomestico/build/
